ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: rpg;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
#p1{
  border-color: rgb(200, 70, 4);
  color: rgb(77, 100, 10);
  font-size: 1cm;
}
#p2{
  border-color: rgb(100, 60, 14);
  color: rgb(11, 120, 200);
  font-size: 1cm;
}
#p3{
  border-color: rgb(200, 70, 4);
  color: rgb(77, 200, 10);
  font-size: 1cm;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#p4{
  border-color: rgb(100, 60, 14);
  color: rgb(11, 220, 10);
  font-size: 1cm;
  background-color: rgb(66, 77, 180);
}